/* Basic Style */
body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}
/* Header */
.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}
.header__image {
    width: 100%;
}
.header__more-info {
    font-family: fantasy, cursive;
}

@media (max-width:768px) {
    .header {
        text-align: center;
    }
}
/* Main */
.main {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}
/* Task Form */
.task-form__label {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}
.task-form__input-wrapper {
    display: flex;
}
.task-form__input {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
    width: 318px;
    flex-grow: 1;
}
.task-form__input:focus {
    color: #333;
}
.task-form__button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}
.task-form__button:hover {
    color: #3a3a3a;
}

/* Task List */
.task-list {
    margin: 0;
    padding: 0;
}
.task-list__heading {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
    list-style: none;
}
.task-list__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Task Item */
.task {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.task > * {
    vertical-align: middle;
}
.task__checkbox {
    margin: 0 10px;
}
.task__label {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
    flex-grow: 1;
}
.task__input {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
    width: 226px;
}
.task__input:focus {
    color: #333;
}
.task__button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}
.task__button:hover {
    color: #3a3a3a;
}
.task__button-image {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}
.task__button-image:hover {
    transform: rotateZ(0);
}

/* Completed Task */
.task--completed .task__label {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.task__input {
    display: none;
}

.task--edit-mode .task__input {
    display: inline-block;
    width: 224px;
}

.task--edit-mode .task__label {
    display: none;
}